$Softred: rgb(236, 119, 95);
$Cyan: hsl(186, 34%, 60%);
$Darkbrown: hsl(25, 47%, 15%);
$Mediumbrown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Verypaleorange: hsl(33, 100%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  background-color: $Cream;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.expenses {
  width: 540px;
}
.balance {
  background-color: $Softred;
  color: $Verypaleorange;
  border-radius: 8px;
  height: 125px;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance__logo {
  margin-right: 6px;
}
.balance__txt {
  display: block;
  margin-bottom: 5px;
}
.balance__amount {
  font-size: 1.9em;
  letter-spacing: -0.5px;
}
.expenses__info {
  background-color: $Verypaleorange;
  margin-top: 25px;
  min-height: 510px;
  border-radius: 20px;
  padding: 30px 40px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.expenses__time-info {
  color: $Darkbrown;
  font-size: 1.8em;
  font-weight: 700;
}
.expenses__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
}
.total-amount__headline {
  display: block;
  color: $Mediumbrown;
}
.total-amount__number {
  font-size: 2.65em;
  color: $Darkbrown;
  font-weight: 700;
}
.expenses__percentage {
  padding-bottom: 10px;
  text-align: right;
}
.total-amount__percentage {
  color: $Darkbrown;
  display: block;
  font-weight: 700;
}
.total-amount__comparisionDate {
  color: $Mediumbrown;
}
.attribution {
  position: absolute;
  bottom: 15px;
}

#custom__chart {
  height: 175px;
  margin-bottom: 5px;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $Cream;
    position: absolute;
    bottom: -40px;
  }
  tr {
    th {
      font-size: 0.85em;
      padding-top: 10px;
      color: $Mediumbrown;
      font-weight: 400;
    }
    &:first-child {
      padding-left: 0;
      th {
        padding-right: 10px;
      }
    }
    &:last-child {
      padding-right: 0;
      th {
        padding-left: 10px;
      }
    }
  }
  td {
    background-color: $Softred;
    border-radius: 5px;
    transform-origin: bottom;
    animation: revealing-bars 4s linear;

    .tooltip {
      bottom: initial;
      top: -40px;
      background-color: $Darkbrown;
      padding: 7px 10px;
      &::after {
        content: initial;
      }
    }
    &:hover {
      filter: brightness(130%);
      cursor: pointer;
    }
  }
  .active {
    background-color: $Cyan;
    &:hover {
      filter: brightness(100%);
      cursor: pointer;
    }
    .tooltip {
      visibility: visible;
      opacity: 1;
      background-color: $Darkbrown;
    }
  }
}

@keyframes revealing-bars {
  0% {
    transform: scaleY(0);
  }
  15% {
    transform: scaleY(1);
  }
}

.attribution {
  font-size: 13px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

.attribution a {
  color: $Softred;
}

@media screen and (max-width: 600px) {
  body,
  html {
    height: auto;
  }
  .container {
    padding: 0 15px;
  }
  .expenses {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 70px;
  }
  .balance {
    height: 95px;
    padding: 10px 20px;
  }
  .balance__txt {
    margin: 0;
    font-size: 0.85em;
  }
  .balance__amount {
    font-size: 1.45em;
  }
  .balance__logo {
    margin-right: 0;
    height: 40px;
  }
  .expenses__time-info {
    font-size: 1.35em;
  }
  .expenses__info {
    margin-top: 15px;
    padding: 25px 20px 10px 20px;

    min-height: 420px;
  }
  #custom__chart {
    &::after {
      bottom: -30px;
    }
    tr {
      th {
        font-size: 0.65em;
        padding-left: 10px;
      }
      padding-right: 0;

      &:first-child {
        th {
          padding-left: 0px;
          padding-right: 0;
        }
      }
      &:last-child {
        th {
          padding-left: 10px;
        }
      }
    }
  }
  .total-amount__headline {
    font-size: 0.85em;
    margin-bottom: 5px;
  }
  .total-amount__number {
    font-size: 1.7em;
  }
  .expenses__percentage {
    padding-bottom: 0;
  }
  .total-amount__percentage {
    font-size: 0.85em;
    top: 1px;
    position: relative;
  }
  .total-amount__comparisionDate {
    font-size: 0.85em;
  }
}
